@{
    ViewBag.Title = "Admin Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Seja Bem Vindo!</h2>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <hr />
        <br />
        <section>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4" style="border: solid 1px black; border-radius: 10px;">
                    <h2>@Html.ActionLink("Cadastrar Cliente", "Create", "Cliente", new { @style = "color:black;" })</h2>
                    <p>
                        Utilize o link acima para cadastrar um novo Cliente!
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4" style="border: solid 1px black; border-radius: 10px;">
                    <h2>@Html.ActionLink("Cadastrar Noticia", "Create", "Noticia", new { @style = "color:black;" })</h2>
                    <p>
                        Utilize o link acima para cadastrar uma nova Noticia!
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4" style="border: solid 1px black; border-radius: 10px;">
                    <h2>@Html.ActionLink("Cadastrar Produto", "Create", "Produto", new { @style = "color:black;" })</h2>
                    <p>
                        Utilize o link acima para cadastrar um novo Produto!
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>


